*.ffindex
*.lwi
*.log
*.tmp
*.bak
*.autosave
*.session
*.7z
*.dll
*.exe
*.zip
*.mp4
*.mkv
*.mov
*.avi
*.webm
*.m2ts
*.ts
.scratch/
inputs/
masks/
previews/
comparisons/
analysis/
renders/
outputs/
*.ebmp
*.raw
~InpaintDelogo_*.DB
